<script src="/js/albums.js" defer></script>

<section class="py-20">
  <h2 class="text-3xl font-semibold text-center pb-8">Alla album</h2>
  <div
    id="album-grid"
    class="px-5 md:px-10 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
  ></div>
</section>
