<script src="/js/images.js" defer></script>

<div
  id="popup-container"
  class="max-w-screen max-h-screen z-50 fixed inset-0 bg-white/50 hidden justify-between items-center"
>
  <button class="text-7xl pl-4 md:px-12" onclick="prevPopupImage()"><</button>
  <div
    class="w-3/4 h-3/4 gap-2 flex flex-col md:flex-row justify-center align-center bg-[#dcdcdc] py-4"
  >
    <div class="h-2/3 md:h-full flex justify-center items-center flex-grow">
      <img
        id="popup-image"
        class="max-w-full max-h-full mx-auto"
        src=""
        alt=""
      />
    </div>
    <div
      class="md:w-1/3 h-1/4 md:h-full flex flex-row md:flex-col md:items-start items-end justify-center gap-y-1 gap-x-2 md:gap-4 flex-wrap"
    >
      <p class="text-xl opacity-100 font-semibold">
        <a id="popup-image-download" download href="">Ladda ner bilden</a>
      </p>
      <p class="text-xl opacity-100 font-semibold">
        <a id="popup-album-link" href="">Visa alla bilder i albummet</a>
      </p>
      <p class="opacity-100 font-semibold h-fit">
        Filename: <span class="md:block" id="popup-filename"></span>
      </p>
      <p class="opacity-100 font-semibold truncate max-w-full">
        Taggar: <span id="popup-tags"></span>
      </p>
    </div>
  </div>
  <button class="text-7xl pr-4 md:px-12" onclick="nextPopupImage()">></button>
</div>

<section class="albums">
  <h3 id="album-title" class="text-center text-5xl py-8 font-bold">
    Album not found
  </h3>
  <h4 id="album-sub-title" class="text-center text-3xl pb-8 font-semibold"></h4>
  <div class="albums__grid"></div>
</section>
