<section class="albums">
  <h3 class="section__title">Alla album</h3>
  <div class="albums__grid"></div>
</section>

<script>
  const albumsGrid = document.querySelector('.albums__grid');

  albumId = window.location.pathname.split('/').pop();
  fetch(`/api/albums/${albumId}`)
    .then((res) => res.json())
    .then((res) => {
      console.log(res);
      res?.images?.forEach((album) => {
        const { _id, tags = [], filename } = album;
        var albumCoverImg = document.createElement('img');
        albumCoverImg.src = `/images/lowres/${filename}`;
        albumCoverImg.alt = `${tags.join(', ')}`;

        var albumCoverA = document.createElement('a');
        albumCoverA.href = `/images/${_id}`;
        albumCoverA.classList.add('album');

        albumCoverA.appendChild(albumCoverImg);
        albumsGrid.appendChild(albumCoverA);
      });
    });
</script>
