<section>
  <h3 class="text-center text-4xl font-bold pb-8">Användarvilkor</h3>

  <article class="mx-auto max-w-5xl flex flex-col gap-8">
    <details>
      <summary class="font-semibold text-2xl py-4 px-6 even:bg-gray-600">
        Vem får använda bilderna?
      </summary>
      <p class="bg-[#dcdcdc] p-12">
        Vem som helst får använda bilderna förutsatt att det används i
        kommersiellt syfte, distribueras till tredje part eller förändras så att
        bildens karaktär eller fokus förändras.Vid publicering (exempelvis
        Instagram) skall följande byline användas. "Foto: Dennis Holmström/
        @dennisholmstromfoto"
      </p>
    </details>
    <details>
      <summary class="font-semibold text-2xl py-4 px-6 even:bg-gray-600">
        Kan bilderna köpas?
      </summary>
      <p class="bg-[#dcdcdc] p-12">
        Ja! Bilderna kan köpas i full upplösning och utan vattenstämpel genom
        att maila filnamnenet till mig
        <a class="underline" href="mailto:dennis@holmstrom.nu">här.</a>
      </p>
    </details>
    <details>
      <summary class="font-semibold text-2xl py-4 px-6 even:bg-gray-600">
        Vad kostar en bild?
      </summary>
      <p class="bg-[#dcdcdc] p-12">
        Bilderna som finns uppladdade på hemsidan kostar 50kr/st. För pris på
        fotouppdrag kontakta mig <a class="underline" href="/#kontakt">här.</a>
      </p>
    </details>
    <details>
      <summary class="font-semibold text-2xl py-4 px-6 even:bg-gray-600">
        Säljer du utskrivana bilder?
      </summary>
      <p class="bg-[#dcdcdc] p-12">
        Nej, för tillfället säljer jag endast digitala kopior av bilderna.
      </p>
    </details>
  </article>
</section>
