<header class="header">
  <h1 class="header__brand">
    <a class="header__brand__link" href="/"> Dennis Holmström </a>
  </h1>
  <nav class="main__nav">
    <ul id="main-nav" class="main__nav__list"></ul>
  </nav>
  <button class="toggle__main__nav">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </button>
</header>

<script>
  const mainNav = document.getElementById('main-nav');
  const pathNames = window.location.pathname.split('/');
  const links = [
    {
      text: 'Hem',
      link: '',
    },
    {
      text: 'Album',
      link: 'albums',
    },
    {
      text: 'Om',
      link: '#om',
    },
    {
      text: 'Kontakt',
      link: '#kontakt',
    },
  ];

  links.forEach((linkObj) => {
    const { text, link } = linkObj;
    const linkLi = document.createElement('li');
    const linkA = document.createElement('a');
    linkA.classList.add('main__nav__list__item');

    if (pathNames.slice(1).includes(link)) {
      linkA.classList.add('active');
    }

    linkA.href = `/${link}`;
    linkA.appendChild(document.createTextNode(text));
    linkLi.appendChild(linkA);
    mainNav.appendChild(linkLi);
  });
</script>
