<header class="header">
  <h1 class="header__brand">
    <a class="header__brand__link" href="index.html"> Dennis Holmström </a>
  </h1>
  <nav class="main__nav">
    <ul class="main__nav__list">
      <li class="main__nav__list__item active">
        <a href="home.html"> Hem </a>
      </li>
      <li class="main__nav__list__item">
        <a href="album.html"> Album </a>
      </li>
      <li class="main__nav__list__item">
        <a href="home.html#om"> Om </a>
      </li>
      <li class="main__nav__list__item">
        <a href="home.html#kontakt"> Kontakt </a>
      </li>
      <li class="main__nav__list__item">
        <a href="Album/Sammanstallning.html"> Sammanställning </a>
      </li>
    </ul>
  </nav>
  <button class="toggle__main__nav">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </button>
</header>
