<footer class="py-5 px-2.5 bg-black text-white flex flex-col gap-4">
  <div>
    <h2 class="text-2xl font-semibold text-center mb-2">© Dennis Holmström</h2>
    <hr class="border-red-800 border-t-2 max-w-sm mx-auto" />
  </div>
  <div class="flex flex-row gap-6 justify-center align-center text-3xl">
    <a class="" href="https://www.instagram.com/holmstrom_dennis/">
      <i class="fab fa-instagram-square"></i>
    </a>
    <a class="" href="/#kontakt">
      <i class="fas fa-envelope-open"></i>
    </a>
  </div>
  <div>
    <p class="text-sm font-thin text-center">
      <span class="">All Rights Reserved</span>
      |
      <a class="underline underline-offset-2 decoration-white/75" href="/terms"
        >Allmänna vilkor</a
      >
    </p>
  </div>
</footer>
<div class="text-xs px-2 py-4 text-center max-w-lg mx-auto">
  <p>
    Denna hemsida är inte helt färdigställd och saker kanske inte fungerar
    precis som tänkt. Om du hittar ett problem på sidan kan du skicka ett mail
    till
    <a
      class="underline"
      href="mailto:dennis@holmstrom.nu?subject=Fel på hemsidan"
      >dennis@holmstrom.nu</a
    >
  </p>
</div>
