<footer class="footer">
  <h2 class="footer__title">© Dennis Holmström</h2>
  <div class="footer__social">
    <a class="social__link" href="https://www.instagram.com/holmstrom_dennis/">
      <i class="fab fa-instagram-square"></i>
    </a>
    <a class="social__link" href="mailto:dennis@holmstrom.nu">
      <i class="fas fa-envelope-open"></i>
    </a>
  </div>
  <p class="footer__links">
    <span class="footer__arr">All Rights Reserved</span>
    |
    <a class="footer__terms" href="#">Allmänna vilkor</a>
  </p>
</footer>
<div class="info">
  <p>
    Denna hemsida är inte helt färdigställd och saker kanske inte fungerar
    precis som tänkt. Om du hittar ett problem på sidan kan du skicka ett mail
    till
    <a href="mailto:dennis@holmstrom.nu?subject=Fel på hemsidan"
      >dennis@holmstrom.nu</a
    >
  </p>
</div>
