<article>
  <details class="relative marker:hidden">
    <summary>
      <h4 display="inline-block">Node js</h4>
      <img src="" alt="" />
    </summary>
    <p>
      Styr hemsidan bakom kulliserna. Används för att bestämma vilken del av
      sidan du ser samt ge framsidan tillgång till informationen som behövs för
      att driva hemsidan. Detta görs genom ett framework vid namn Express - Node
      js
    </p>
  </details>
  <details>
    <summary>
      <h4>Mongo DB</h4>
      <img src="" alt="" />
    </summary>
    <p>Används för att lagra informationen som visas på hemsidan</p>
  </details>
  <details>
    <summary>
      <h4>Tailwind CSS & SCSS</h4>
      <img src="" alt="" />
    </summary>
    <p>
      Används för att styla innehållet på hemsidan. Detta görs genom de två
      ovannämnda CSS frameworken
    </p>
  </details>
  <details>
    <summary>
      <h4>JavaScript</h4>
      <img src="" alt="" />
    </summary>
    <p>Förändrar hemsidan dynamiskt innehållsmässigt.</p>
  </details>
</article>
